<nav id="navigate">
    <ul class="navigate-list">
        <li class="navigate-list__item" routerLink="cabinet">
            Главная
        </li>
        <li class="navigate-list__item" routerLink="my-pacients">
            Мои пациенты
        </li>
        <li class="navigate-list__item" routerLink="settings">
            Настройки
        </li>
        <li class="navigate-list__item" routerLink="soon-pacients">
            Запланированые посещения
        </li>
        <li class="navigate-list__item" routerLink="last-pacients">
            История посещений
        </li>
    </ul>
</nav>