<div id="my-pacients">
    <div class="search">
        <input type="text" class="search__input" name="search-text" placeholder="Введите ФИО пациента ..."  #searchInput>
    </div>
    <div class="pacients-list">
        <p class="pacients-list__header">Список пациентов</p>
        <ul class="pacients-list__list">
            <li class="pacients-list__item" *ngFor="let pacient of pacientsList" [ngClass]="{'hidden-element' : pacient.isHide}" [routerLink]="['/inspection-access', {pacientId: pacient._id}]">
                <img src="assets/img/{{pacient.position}}" class="pacients-list__avatar">
                <div class="pacients-list__info">
                    <p class="pacients-list__fio">{{pacient.fio}}</p>
                    <p class="pacients-list__sex">Пол: {{pacient.sex ? "мужской" : "женский"}}</p>
                    <p class="pacients-list__age">Возраст: {{getAge(pacient.birthdate)}}</p>
                </div>
            </li>
        </ul>
    </div>
</div>