#my-pacients {
    padding: 3% 5%;
}
.search__input {
    border: 0;
    width: 100%;
    font-size: 19px;
    outline: none;
    padding: 8px 11px;
    height: 100%;
}
.pacients-list {
    margin-top: 50px;
}
.pacients-list__header {
    font-size: 17px;
    border-bottom: 1px solid #cecece;
    margin-bottom: 10px;
    padding: 10px;
    font-weight: 300;
}
.pacients-list__item {
    margin: 7px 10px;
    display: flex;
}
.pacients-list__avatar {
    width: 52px;
    height: 52px;
}
.pacients-list__fio {
    font-size: 15px;
    padding: 0 10px;
}
.pacients-list__age {
    padding: 0 10px;
    font-size: 12px;
    font-weight: 100;
}
.pacients-list__sex {
    padding: 0 10px;
    font-size: 12px;
    font-weight: 100;
}
.hidden-element {
    display: none;
}