#cabinet {
    display: flex;
    height: 100%;
    flex-direction: column;
}
#container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    background: #ececec;
}
.router-outlet__container {
    display: flex;
    height: 100%;
}
.router-outlet__container_fix {
    width: 100%;
    overflow: auto;
}