<div id="container">
    <menu *ngIf="authService.user.logged && hideMenu"></menu>
    <div id="cabinet">
        <div class="router-outlet__container">
            <div class="router-outlet__container_fix">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>