<div class="my-profile-mini">
    <div class="my-profile-mini__image-container">
        <img src="assets/img/doctor.jpg" class="my-profile-mini__image">
    </div>
    <div class="my-profile-mini__text-container">
        <p class="my-profile-mini__fio">{{doctor.info.fio}}</p>
        <p class="my-profile-mini__position">{{doctor.info.position}}</p>
        <button class="yu-button my-profile-mini__button">Выйти</button>
    </div>
</div>
<div id="content">
    <div class="soon-pacients">
        <p class="list-block__header">Запланированые посещения</p>
        <ul class="list-block__list">
            <li class="list-block__item" *ngFor="let pacient of doctor.soon">
                <img src="assets/img/{{pacient.photo}}" class="list-block__avatar">
                <p class="list-block__fio">{{pacient.fio}}<span class="list-block__date">{{pacient.time}}</span></p>
            </li>
        </ul>
    </div>
    <div class="last-pacients">
        <p class="list-block__header">Последние посещения</p>
        <ul class="list-block__list">
            <li class="list-block__item" *ngFor="let pacient of doctor.last">
                <img src="assets/img/{{pacient.photo}}" class="list-block__avatar">
                <p class="list-block__fio">{{pacient.fio}}<span class="list-block__date">{{pacient.time}}</span></p>
            </li>
        </ul>
    </div>
</div>