.access {
    height: 100%;
    display: flex;
}
.history__block {
    height: 100%;
}
.history__block_fix {
    padding: calc(3% + 10px);
}
.access__form {
    background: #d4d4d4;
    display: flex;
    margin: auto;
    flex-direction: column;
    padding: 40px 15px;
}
.access__title {
    font-size: 17px;
}
.access__icon {
    font-size: 110px;
    text-align: center;
    padding: 15px 0;
    color: #b7b7b7;
}
.access__input {
    font-size: 16px;
    padding: 2px 5px;
}
.inspection {
    height: 100%;
    width: 100%;
}
.history {
    height: 100%;
    z-index: 9;
    width: 100%;
    transition: left 1s;
    position: relative;
    left: 100%;
    background: #ececec;
}
.inspection-form {
    overflow-x: hidden;
    position: relative;
    height: 100%;
}
.history__open {
    transition: box-shadow 0.5s ease-in-out, background .5s;
    transform: rotate(90deg);
    top: 58px;
    z-index: 10;
    position: absolute;
    right: -56px;
    border: none;
    outline: none;
    padding: 1px 6px 3px 6px;
    cursor: pointer;
    color: white;
    box-shadow: 0 0 4px #586482;
    background: #8394bf
}
.history__close {
    box-shadow: inset 0 0 5px #323b50;
    background: #6c7794;
}
.history__header {
    font-size: 17px;
    border-bottom: 1px solid #cecece;
    margin-bottom: 10px;
    padding: 10px;
    font-weight: 300;
}
.history__item {
    margin-left: 2%;
    margin-top: 10px;
}
.history__annotation {
    font-size: 15px;
    color: #000000;
    background: rgba(110, 122, 158, 0.13);
    font-weight: 200;
    cursor: pointer;
    padding: 6px;
}
.history__results {
    padding: 10px;
}
.history__result {
    padding: 0 10px;
}
.history__recipies {
    padding: 10px;
}
.history__recipies-header {
    font-size: 15px;
    font-weight: 100;
    width: 100%;
    display: inline-block;
    padding-bottom: 3px;
    border-bottom: 1px solid #b5b5b5;
}
.history__title {
    font-size: 15px;
    padding-bottom: 3px;
    font-weight: 100;
    display: inline-block;
    border-bottom: 1px solid #b7b7b7
}
.history__description {
    padding: 7px;
    font-weight: 100;
    font-size: 12px;
}
.history__pen {
    margin-left: -18px;
    font-size: 14px;
    color: #848484;
    margin-right: 5px;
}
.history__medkit {
    margin-left: -17px;
    margin-right: 5px;
    color: #5f5f5f;
    font-size: 12px;
}
.history__recipie-text {
    padding: 7px;
    font-weight: 100;
    font-size: 12px;
}
.history__recipie-title {
    font-size: 15px;
    padding-bottom: 3px;
    font-weight: 100;
    display: inline-block;
    border-bottom: 1px solid #b7b7b7;
}
.history__recipies-list {
    padding: 10px;
}
.history__toggle {

}
.history__hidden {
    overflow: hidden;
    display: none;
}
.history__visible {
    overflow: visible;
    display: block;
}
.history__date {
    background: #6185da;
    border: 1px solid #c0c2ff;
    border-left: none;
    padding: 0 7px;
    color: white;
    float: right;
    font-size: 12px;
}
.history_show {
    left: 0;
}
.inspection-form__block {
    width: 100%;
    height: 100%;
    position: absolute;
}
.inspection-form__title {
    font-size: 13px;
    font-weight: 100;
    margin-bottom: 13px;
    padding: 3px 7px;
}
.inspection-form__text {
    font-size: 13px;
    font-weight: 100;
    margin-bottom: 13px;
    padding: 3px 7px;
}
.inspection-form__forma {
    padding: calc(3% + 10px);
    flex-direction: column;
    display: flex;
}
.inspection-form__list {
    padding: 0 calc(3% + 10px);
}
.inspection-form__item {
    position: relative;
    background: #e4e4e4;
    margin-bottom: 5px;
    padding: 10px;
    border: 1px solid gainsboro;
}
.inspection-form__item-title {
    font-size: 15px;
    padding-bottom: 3px;
    display: inline-block;
    font-weight: 300;
    border-bottom: 1px solid #ababab;
    background: none;
}
.inspection-form__item-text {
    padding: 7px;
    font-weight: 300;
    font-size: 13px;
}
.inspection-form__edit-btn, .inspection-form__remove-btn {
    top: 3px;
    cursor: pointer;
    position: absolute;
    font-size: 12px;
    color: white;
    padding: 2px 8px 3px;
}
.inspection-form__remove-btn {
    right: 3px;
    background: #bf4040;
}
.inspection-form__edit-btn {
    right: 69px;
    background: #515aa0;
}
.inspection__header {
    margin: 0 calc(3% + 10px) 10px;
    border-bottom: 1px solid #b1b1b1;
    font-weight: 300;
    font-size: 16px
}
.inspection-form__switcher {
    display: inline-block;
    font-size: 13px;
    color: white;
}
.inspection-form__history-on {
    transition: background .3s;
    cursor: pointer;
    background: #cecece;
    padding: 1px 10px;
    border: 1px solid #b9b9b9;
    border-right: none;
    margin-right: -4px;
}
.inspection-form__recipies-on {
    transition: background .3s;
    cursor: pointer;
    background: #cecece;
    padding: 1px 10px;
    border: 1px solid #b9b9b9;
    border-left: none;
}
.inspection-form__switcher_active {
    background: #989898;
    box-shadow: inset 1px 1px 3px #757575;
}
.inspection-form__title_immortal {
    border: 2px dashed #bad2ff;
    outline: none;
}