<div class="inspection">
    <div class="inspection-form" #inspectionForm>
        <button class="history__open" (click)="openHistory(history, historyOpenBtn)" #historyOpenBtn>История пацитента</button>
        <div class="inspection-form__block">
            <div class="inspection-form__forma">
                <input type="text" placeholder="Цель приёма" class="inspection-form__title inspection-form__title_immortal" [(ngModel)]="historyTitle">
                <input type="text" placeholder="Введите краткое описание" class="inspection-form__title" [(ngModel)]="formTitle">
                <textarea class="inspection-form__text" rows="10" placeholder="Документирование" [(ngModel)]="formText"></textarea>
                <div class="inspection-form__controls">
                    <button class="inspection-form__add" (click)="addHistoryPage()">Добавить</button>
                    <button class="inspection-form__clear" (click)="clearHistoryPage()">Очистить</button>
                    <button class="inspection-form__clear" (click)="closeAndSaveHistory()">Сохранить и закрыть</button>
                    <div class="inspection-form__switcher">
                        <span class="inspection-form__switcher_active inspection-form__history-on" (click)="switchEditMode(0, historySwitch, recipiesSwitch)" #historySwitch>История</span>
                        <span class="inspection-form__recipies-on" (click)="switchEditMode(1, historySwitch, recipiesSwitch)" #recipiesSwitch>Рецепт</span>
                    </div>
                </div>
            </div>
            <p class="inspection__header">История</p>
            <ul class="inspection-form__list">
                <li *ngFor="let history_page of history_form" class="inspection-form__item">
                    <span class="inspection-form__edit-btn" (click)="editHistoryPage(history_page)">редактировать</span>
                    <span class="inspection-form__remove-btn" (click)="removeHistoryPage(history_page, 0)">удалить</span>
                    <p class="inspection-form__item-title">{{history_page.formTitle}}</p>
                    <pre class="inspection-form__item-text">{{history_page.formText}}</pre>
                </li>
            </ul>
            <p class="inspection__header">Рецепты</p>
            <ul class="inspection-form__list">
                <li *ngFor="let recipe of recipies" class="inspection-form__item">
                    <span class="inspection-form__edit-btn" (click)="editHistoryPage(recipe)">редактировать</span>
                    <span class="inspection-form__remove-btn" (click)="removeHistoryPage(recipe, 1)">удалить</span>
                    <p class="inspection-form__item-title">{{recipe.formTitle}}</p>
                    <pre class="inspection-form__item-text">{{recipe.formText}}</pre>
                </li>
            </ul>
        </div>
        <div class="history"  #history>
            <div class="history__block">
                <div class="history__block_fix">
                    <p class="history__header">История пациента</p>
                    <ul>
                        <li class="history__item" (click)="viewInspection($event)" *ngFor="let historyItem of historyBook">
                            <p class="history__annotation">
                                {{historyItem.title}}
                                <span class="history__date">16/06/2017</span>
                            </p>
                            <div class="history__hidden">
                                <div class="history__results">
                                    <p class="history__recipies-header">Результаты обследования</p>
                                    <ul class="history__recipies-list">
                                        <li class="history__item" *ngFor="let result of historyItem.results">
                                            <p class="history__title"><i class="fa fa-pencil history__pen" aria-hidden="true"></i>{{result.type}}</p>
                                            <p class="history__recipie-text">{{result.overview}}</p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="history__recipies">
                                    <p class="history__recipies-header">Рецепты</p>
                                    <ul class="history__recipies-list">
                                        <li class="history__item" *ngFor="let _recipie of historyItem.recipies">
                                            <p class="history__recipie-title"><i class="fa fa-medkit history__medkit" aria-hidden="true"></i>{{_recipie.desc}}</p>
                                            <p class="history__recipie-text">{{_recipie.recipie}}</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>