<div class="soon-pacients">
    <p class="list-block__header">Запланированые посещения</p>
    <ul class="list-block__list">
        <li class="list-block__item" *ngFor="let pacient of doctor.last">
            <img src="assets/img/{{pacient.photo}}" class="list-block__avatar">
            <p class="list-block__fio">{{pacient.fio}}<span class="list-block__date">{{pacient.time}}</span></p>
        </li>
    </ul>
</div>