.soon-pacients {
    padding: 30px;
}
.soon-pacients {
    font-size: 17px;
    border-bottom: 1px solid #cacaca;
    padding-bottom: 3px;
}
.soon-pacients__item {
    margin: 7px 10px;
    display: flex;
}
.soon-pacients__header {
    font-size: 17px;
    border-bottom: 1px solid #cecece;
    margin-bottom: 10px;
    padding: 10px;
    font-weight: 300;
}
.soon-pacients__avatar {
    width: 50px;
    height: 50px;
}
.soon-pacients__fio {
    font-size: 15px;
    padding: 0 10px;
    width: 100%;
}
.soon-pacient__type {
    background: red;
    color: white;
}
.soon-pacients__list {
    margin-top: 25px;
}
.soon-pacients__type {
    background: #47c12a;
    border: 1px solid #4faf64;
    border-right: none;
    padding: 0 7px;
    color: white;
    font-size: 12px;
    float: right;
}
.soon-pacients__time {
    background: #6185da;
    border: 1px solid #c0c2ff;
    border-left: none;
    padding: 0 7px;
    color: white;
    float: right;
    font-size: 12px;
}
.list-block__avatar {
    width: 40px;
    float: left;
    height: 50px;
}
.list-block__list {
    padding: 0 20px;
}
.list-block__header {
    font-size: 17px;
    border-bottom: 1px solid #cecece;
    margin-bottom: 10px;
    padding: 10px;
    font-weight: 300;
}
.list-block__fio {
    font-size: 13px;
    display: flex;
    padding: 0 10px;
    justify-content: space-between;
}
.list-block__date {
    color: #1f76ab;
}
.list-block__type {
    font-size: 12px;
    display: flex;
    padding: 5px 10px;
}
.list-block__item {
    overflow: auto;
    margin-bottom: 5px;
    background: #e0e0e0;
    border: 1px solid #d8d8d8;

}