<div class="access" #accessForm>
    <div class="access__form">
        <p class="access__title">Вход на защищёную страницу</p>
        <i class="fa fa-lock access__icon" aria-hidden="true"></i>
        <input type="text" class="access__input" placeholder="Ключ авторизации" #key>
        <button class="access__enter" (click)="requestCode()">Запросить ключ</button>
        <button class="access__enter" (click)="openHistoryCabinet(key.value)">Войти</button>
    </div>
</div>