* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: 'Open Sans', serif;
}

body {
    overflow: hidden;
}

html, body, app-root {
    display: flex;
    width: 100%;
    height: 100%;
}

.yu-button {
    border: 0;
    padding: 5px 10px;
    background: #92c2ff;
    box-shadow: 1px 1px 3px #6893ca;
    color: white;
    cursor: pointer;
    float: right;
    font-size: 13px;
    margin-top: 5px;
    margin-right: 3px;
}