<div class="access" id="access-form">
    <div class="access__form">
        <p class="access__title">Вход на защищёную страницу</p>
        <i class="fa fa-lock access__icon" aria-hidden="true"></i>
        <input type="text" class="access__input" placeholder="Имя пользователя" #username>
        <input type="password" class="access__input" placeholder="Пароль" #password>
        <button class="access__enter" (click)="openCabinet(username.value, password.value, cabinet, access)">Войти</button>
    </div>
</div>