<div class="settings">
    <p class="list-block__header">Настройки и статус компонентов системы</p>
    <ul class="setting__list">
        <li class="setting__item">
            <span class="setting__title">загруженость сервера:</span>
            <span class="setting__value info">{{serverLoad}}%</span>
        </li>
        <li class="setting__item">
            <span class="setting__title">наличие ошибок:</span>
            <span class="setting__value ok">нету</span>
        </li>
        <li class="setting__item">
            <span class="setting__title">доступность резервного хранилища:</span>
            <span class="setting__value error">доступа нету</span>
        </li>
        <li class="setting__item">
            <span class="setting__title">среднее время отклика сервера:</span>
            <span class="setting__value info">{{serverPing}}ms</span>
        </li>
        <li class="setting__item">
            <span class="setting__title">запланированое обновление:</span>
            <span class="setting__value info">нету</span>
        </li>
        <li class="setting__item">
            <span class="setting__title">подключенное photo-device:</span>
            <span class="setting__value error">отключено</span>
        </li>
        <li class="setting__item">
            <span class="setting__title">версия :</span>
            <span class="setting__value info">1.0.0</span>
        </li>
    </ul>

    <p class="list-block__header">Вызвать поддержку</p>
    <div class="need-help" [ngClass]="{'non-access' : isSubmited}">
        <textarea placeholder="Введите сообщение об ошибки" class="need-help__area" #form></textarea>
        <button class="need-help__button" (click)="submit(form)">Вызвать</button>
    </div>
</div>
